extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Home'
  -var whatPage = 'Home'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  //- .custom-cursor
  .container-fluid
    section.hero(style="background-image: url('./img/hero.jpg')")
      .container.container-inner
        .hero-caption
          .hero-title__wrapper
            h1.hero-title.title-family
              | Иди вперед
              br
              | и достигай
            svg(width='591' height='174' viewBox='0 0 591 174' fill='none' xmlns='http://www.w3.org/2000/svg').svg-title
              mask#path-1-outside-1_406_796(maskUnits='userSpaceOnUse' x='0.399902' y='-0.200005' width='591' height='174' fill='black')
                rect(fill='white' x='0.399902' y='-0.200005' width='591' height='174')
                path(d='M39.9999 21H41.5999C47.4666 21 51.7332 22.1467 54.3999 24.44C57.0666 26.7333 58.3999 30.92 58.3999 37V77H46.3999V33H36.3999V61C36.3999 67.1333 35.0666 71.3467 32.3999 73.64C29.7332 75.88 25.5999 77 19.9999 77H18.3999C12.8532 77 8.7999 75.8533 6.2399 73.56C3.6799 71.2667 2.3999 67.08 2.3999 61V21H14.3999V65H24.3999V37C24.3999 31.08 25.5466 26.9467 27.8399 24.6C30.1866 22.2 34.2399 21 39.9999 21ZM66.4374 77V65C69.7974 62.92 72.3041 59.3467 73.9574 54.28C75.6107 49.2133 76.4374 42.12 76.4374 33V21H126.437V77H66.4374ZM114.437 65V33H88.4374V37C88.4374 41.2133 88.1974 44.9467 87.7174 48.2C87.2907 51.4533 86.5974 54.2 85.6374 56.44C84.7307 58.68 83.9841 60.28 83.3974 61.24C82.8641 62.2 82.0374 63.4533 80.9174 65H114.437ZM176.875 21H178.475C184.342 21 188.608 22.1467 191.275 24.44C193.942 26.7333 195.275 30.92 195.275 37V77H183.275V33H173.275V61C173.275 67.1333 171.942 71.3467 169.275 73.64C166.608 75.88 162.475 77 156.875 77H155.275C149.728 77 145.675 75.8533 143.115 73.56C140.555 71.2667 139.275 67.08 139.275 61V21H151.275V65H161.275V37C161.275 31.08 162.422 26.9467 164.715 24.6C167.062 22.2 171.115 21 176.875 21ZM276.481 77H235.681V21H278.081C283.521 21 287.281 22.2 289.361 24.6C291.441 27 292.481 31.1067 292.481 36.92C292.481 43.3733 290.534 47.4 286.641 49C288.881 49.96 290.401 51.2933 291.201 53C292.054 54.7067 292.481 57.1867 292.481 60.44C292.481 66.2 291.361 70.4133 289.121 73.08C286.934 75.6933 282.721 77 276.481 77ZM278.881 55H247.681V65H278.881V55ZM278.881 33H247.681V43H278.881V33ZM315.65 33V77H303.65V21H337.65V77H325.65V33H315.65ZM400.847 65V77H364.847C358.607 77 354.367 75.6933 352.127 73.08C349.94 70.4133 348.847 66.2 348.847 60.44C348.847 57.1333 349.247 54.6267 350.047 52.92C350.847 51.2133 352.393 49.9067 354.687 49C350.793 47.3467 348.847 43.32 348.847 36.92C348.847 31.1067 349.887 27 351.967 24.6C354.047 22.2 357.807 21 363.247 21H400.847V33H363.247V43H396.847V55H363.247V65H400.847ZM412.869 77V21H445.669C451.482 21 455.589 22.28 457.989 24.84C460.442 27.3467 461.669 31.5333 461.669 37.4C461.669 43.6933 460.549 48.2 458.309 50.92C456.122 53.64 451.909 55 445.669 55H424.869V77H412.869ZM424.869 43H447.269V33H424.869V43ZM521.706 65V77H485.706C479.466 77 475.226 75.6933 472.986 73.08C470.799 70.4133 469.706 66.2 469.706 60.44C469.706 57.1333 470.106 54.6267 470.906 52.92C471.706 51.2133 473.253 49.9067 475.546 49C471.653 47.3467 469.706 43.32 469.706 36.92C469.706 31.1067 470.746 27 472.826 24.6C474.906 22.2 478.666 21 484.106 21H521.706V33H484.106V43H517.706V55H484.106V65H521.706ZM504.026 12.2V1.8H516.026V12.2H504.026ZM481.626 12.2V1.8H493.626V12.2H481.626ZM529.328 77V65C532.688 62.92 535.195 59.3467 536.848 54.28C538.501 49.2133 539.328 42.12 539.328 33V21H589.328V77H529.328ZM577.328 65V33H551.328V37C551.328 41.2133 551.088 44.9467 550.608 48.2C550.181 51.4533 549.488 54.2 548.528 56.44C547.621 58.68 546.875 60.28 546.288 61.24C545.755 62.2 544.928 63.4533 543.808 65H577.328ZM39.9999 116H41.5999C47.4666 116 51.7332 117.147 54.3999 119.44C57.0666 121.733 58.3999 125.92 58.3999 132V172H46.3999V128H36.3999V156C36.3999 162.133 35.0666 166.347 32.3999 168.64C29.7332 170.88 25.5999 172 19.9999 172H18.3999C12.8532 172 8.7999 170.853 6.2399 168.56C3.6799 166.267 2.3999 162.08 2.3999 156V116H14.3999V160H24.3999V132C24.3999 126.08 25.5466 121.947 27.8399 119.6C30.1866 117.2 34.2399 116 39.9999 116ZM94.4062 172V160C97.7662 157.92 100.273 154.347 101.926 149.28C103.579 144.213 104.406 137.12 104.406 128V116H154.406V172H94.4062ZM142.406 160V128H116.406V132C116.406 136.213 116.166 139.947 115.686 143.2C115.259 146.453 114.566 149.2 113.606 151.44C112.699 153.68 111.953 155.28 111.366 156.24C110.833 157.2 110.006 158.453 108.886 160H142.406ZM192.444 116H201.244C209.884 116 216.63 118.293 221.484 122.88C226.39 127.467 228.844 133.84 228.844 142V146C228.844 153.893 226.364 160.213 221.404 164.96C216.497 169.653 209.777 172 201.244 172H192.444C183.91 172 177.164 169.653 172.204 164.96C167.297 160.213 164.844 153.893 164.844 146V142C164.844 133.84 167.27 127.467 172.124 122.88C177.03 118.293 183.804 116 192.444 116ZM190.844 128C186.63 128 183.244 129.28 180.684 131.84C178.124 134.4 176.844 137.787 176.844 142V146C176.844 150.213 178.124 153.6 180.684 156.16C183.244 158.72 186.63 160 190.844 160H202.844C207.057 160 210.444 158.72 213.004 156.16C215.564 153.6 216.844 150.213 216.844 146V142C216.844 137.787 215.537 134.4 212.924 131.84C210.364 129.28 207.004 128 202.844 128H190.844ZM262.875 160H288.475V172H264.475C255.942 172 249.195 169.653 244.235 164.96C239.328 160.213 236.875 153.893 236.875 146V142C236.875 134.16 239.328 127.867 244.235 123.12C249.195 118.373 255.942 116 264.475 116H288.475V128H262.875C258.662 128 255.275 129.28 252.715 131.84C250.155 134.4 248.875 137.787 248.875 142V146C248.875 150.213 250.155 153.6 252.715 156.16C255.275 158.72 258.662 160 262.875 160ZM294.484 128V116H330.484V128H318.484V172H306.484V128H294.484ZM376.484 116H378.084C383.951 116 388.218 117.147 390.884 119.44C393.551 121.733 394.884 125.92 394.884 132V172H382.884V128H372.884V156C372.884 162.133 371.551 166.347 368.884 168.64C366.218 170.88 362.084 172 356.484 172H354.884C349.338 172 345.284 170.853 342.724 168.56C340.164 166.267 338.884 162.08 338.884 156V116H350.884V160H360.884V132C360.884 126.08 362.031 121.947 364.324 119.6C366.671 117.2 370.724 116 376.484 116ZM419.322 128V172H407.322V116H431.322V128H419.322ZM465.377 116H466.897C470.097 116 472.79 117.12 474.977 119.36C477.163 121.547 479.217 125.227 481.137 130.4L496.497 172H483.697L480.017 162.08H452.177L448.497 172H435.697L451.057 130.4C452.977 125.227 455.03 121.547 457.217 119.36C459.457 117.12 462.177 116 465.377 116ZM467.457 128H464.817L456.577 150.08H475.617L467.457 128ZM540.859 116H542.459C548.326 116 552.593 117.147 555.259 119.44C557.926 121.733 559.259 125.92 559.259 132V172H547.259V128H537.259V156C537.259 162.133 535.926 166.347 533.259 168.64C530.593 170.88 526.459 172 520.859 172H519.259C513.713 172 509.659 170.853 507.099 168.56C504.539 166.267 503.259 162.08 503.259 156V116H515.259V160H525.259V132C525.259 126.08 526.406 121.947 528.699 119.6C531.046 117.2 535.099 116 540.859 116ZM526.299 97.6C526.406 98.6667 527.259 99.2 528.859 99.2H532.059C533.659 99.2 534.513 98.6667 534.619 97.6H550.459C550.459 102.187 549.126 105.333 546.459 107.04C543.793 108.747 539.659 109.6 534.059 109.6H526.859C521.259 109.6 517.126 108.747 514.459 107.04C511.793 105.333 510.459 102.187 510.459 97.6H526.299ZM582.897 150H570.897V116H582.897V150ZM582.897 172H570.897V160H582.897V172Z')
              path(d='M54.3999 24.44L53.3566 25.6531L53.3566 25.6531L54.3999 24.44ZM58.3999 77V78.6H59.9999V77H58.3999ZM46.3999 77H44.7999V78.6H46.3999V77ZM46.3999 33H47.9999V31.4H46.3999V33ZM36.3999 33V31.4H34.7999V33H36.3999ZM32.3999 73.64L33.429 74.8651L33.4361 74.8592L33.4432 74.8531L32.3999 73.64ZM6.2399 73.56L5.17231 74.7517L5.17231 74.7517L6.2399 73.56ZM2.3999 21V19.4H0.799902V21H2.3999ZM14.3999 21H15.9999V19.4H14.3999V21ZM14.3999 65H12.7999V66.6H14.3999V65ZM24.3999 65V66.6H25.9999V65H24.3999ZM27.8399 24.6L26.6959 23.4814L26.6956 23.4817L27.8399 24.6ZM66.4374 77H64.8374V78.6H66.4374V77ZM66.4374 65L65.5952 63.6396L64.8374 64.1087V65H66.4374ZM73.9574 54.28L72.4363 53.7837L72.4363 53.7837L73.9574 54.28ZM76.4374 21V19.4H74.8374V21H76.4374ZM126.437 21H128.037V19.4H126.437V21ZM126.437 77V78.6H128.037V77H126.437ZM114.437 65V66.6H116.037V65H114.437ZM114.437 33H116.037V31.4H114.437V33ZM88.4374 33V31.4H86.8374V33H88.4374ZM87.7174 48.2L86.1345 47.9665L86.1327 47.9792L86.131 47.9919L87.7174 48.2ZM85.6374 56.44L84.1668 55.8097L84.1604 55.8246L84.1543 55.8397L85.6374 56.44ZM83.3974 61.24L82.0321 60.4057L82.0149 60.434L81.9987 60.463L83.3974 61.24ZM80.9174 65L79.6215 64.0616L77.7833 66.6H80.9174V65ZM191.275 24.44L190.232 25.6531L190.232 25.6531L191.275 24.44ZM195.275 77V78.6H196.875V77H195.275ZM183.275 77H181.675V78.6H183.275V77ZM183.275 33H184.875V31.4H183.275V33ZM173.275 33V31.4H171.675V33H173.275ZM169.275 73.64L170.304 74.8651L170.311 74.8592L170.318 74.8531L169.275 73.64ZM143.115 73.56L142.047 74.7517L142.047 74.7517L143.115 73.56ZM139.275 21V19.4H137.675V21H139.275ZM151.275 21H152.875V19.4H151.275V21ZM151.275 65H149.675V66.6H151.275V65ZM161.275 65V66.6H162.875V65H161.275ZM164.715 24.6L163.571 23.4814L163.571 23.4817L164.715 24.6ZM235.681 77H234.081V78.6H235.681V77ZM235.681 21V19.4H234.081V21H235.681ZM289.361 24.6L290.57 23.5521L290.57 23.5521L289.361 24.6ZM286.641 49L286.033 47.5201L282.507 48.969L286.011 50.4706L286.641 49ZM291.201 53L289.752 53.6791L289.761 53.6974L289.77 53.7155L291.201 53ZM289.121 73.08L287.896 72.0509L287.894 72.0532L289.121 73.08ZM278.881 55H280.481V53.4H278.881V55ZM247.681 55V53.4H246.081V55H247.681ZM247.681 65H246.081V66.6H247.681V65ZM278.881 65V66.6H280.481V65H278.881ZM278.881 33H280.481V31.4H278.881V33ZM247.681 33V31.4H246.081V33H247.681ZM247.681 43H246.081V44.6H247.681V43ZM278.881 43V44.6H280.481V43H278.881ZM315.65 33V31.4H314.05V33H315.65ZM315.65 77V78.6H317.25V77H315.65ZM303.65 77H302.05V78.6H303.65V77ZM303.65 21V19.4H302.05V21H303.65ZM337.65 21H339.25V19.4H337.65V21ZM337.65 77V78.6H339.25V77H337.65ZM325.65 77H324.05V78.6H325.65V77ZM325.65 33H327.25V31.4H325.65V33ZM400.847 65H402.447V63.4H400.847V65ZM400.847 77V78.6H402.447V77H400.847ZM352.127 73.08L350.89 74.0945L350.901 74.108L350.912 74.1213L352.127 73.08ZM350.047 52.92L348.598 52.2409L348.598 52.2409L350.047 52.92ZM354.687 49L355.275 50.4879L358.905 49.0529L355.312 47.5273L354.687 49ZM400.847 21H402.447V19.4H400.847V21ZM400.847 33V34.6H402.447V33H400.847ZM363.247 33V31.4H361.647V33H363.247ZM363.247 43H361.647V44.6H363.247V43ZM396.847 43H398.447V41.4H396.847V43ZM396.847 55V56.6H398.447V55H396.847ZM363.247 55V53.4H361.647V55H363.247ZM363.247 65H361.647V66.6H363.247V65ZM412.869 77H411.269V78.6H412.869V77ZM412.869 21V19.4H411.269V21H412.869ZM457.989 24.84L456.821 25.9343L456.833 25.9469L456.845 25.9591L457.989 24.84ZM458.309 50.92L457.074 49.9029L457.068 49.9102L457.062 49.9175L458.309 50.92ZM424.869 55V53.4H423.269V55H424.869ZM424.869 77V78.6H426.469V77H424.869ZM424.869 43H423.269V44.6H424.869V43ZM447.269 43V44.6H448.869V43H447.269ZM447.269 33H448.869V31.4H447.269V33ZM424.869 33V31.4H423.269V33H424.869ZM521.706 65H523.306V63.4H521.706V65ZM521.706 77V78.6H523.306V77H521.706ZM472.986 73.08L471.749 74.0945L471.76 74.108L471.771 74.1213L472.986 73.08ZM470.906 52.92L469.457 52.2409L469.457 52.2409L470.906 52.92ZM475.546 49L476.134 50.4879L479.764 49.0529L476.172 47.5273L475.546 49ZM521.706 21H523.306V19.4H521.706V21ZM521.706 33V34.6H523.306V33H521.706ZM484.106 33V31.4H482.506V33H484.106ZM484.106 43H482.506V44.6H484.106V43ZM517.706 43H519.306V41.4H517.706V43ZM517.706 55V56.6H519.306V55H517.706ZM484.106 55V53.4H482.506V55H484.106ZM484.106 65H482.506V66.6H484.106V65ZM504.026 12.2H502.426V13.8H504.026V12.2ZM504.026 1.8V0.199995H502.426V1.8H504.026ZM516.026 1.8H517.626V0.199995H516.026V1.8ZM516.026 12.2V13.8H517.626V12.2H516.026ZM481.626 12.2H480.026V13.8H481.626V12.2ZM481.626 1.8V0.199995H480.026V1.8H481.626ZM493.626 1.8H495.226V0.199995H493.626V1.8ZM493.626 12.2V13.8H495.226V12.2H493.626ZM529.328 77H527.728V78.6H529.328V77ZM529.328 65L528.486 63.6396L527.728 64.1087V65H529.328ZM536.848 54.28L535.327 53.7837L535.327 53.7837L536.848 54.28ZM539.328 21V19.4H537.728V21H539.328ZM589.328 21H590.928V19.4H589.328V21ZM589.328 77V78.6H590.928V77H589.328ZM577.328 65V66.6H578.928V65H577.328ZM577.328 33H578.928V31.4H577.328V33ZM551.328 33V31.4H549.728V33H551.328ZM550.608 48.2L549.025 47.9665L549.023 47.9792L549.022 47.9919L550.608 48.2ZM548.528 56.44L547.057 55.8097L547.051 55.8246L547.045 55.8397L548.528 56.44ZM546.288 61.24L544.923 60.4057L544.905 60.434L544.889 60.463L546.288 61.24ZM543.808 65L542.512 64.0616L540.674 66.6H543.808V65ZM54.3999 119.44L53.3566 120.653L53.3566 120.653L54.3999 119.44ZM58.3999 172V173.6H59.9999V172H58.3999ZM46.3999 172H44.7999V173.6H46.3999V172ZM46.3999 128H47.9999V126.4H46.3999V128ZM36.3999 128V126.4H34.7999V128H36.3999ZM32.3999 168.64L33.429 169.865L33.4361 169.859L33.4432 169.853L32.3999 168.64ZM6.2399 168.56L5.17231 169.752L5.17231 169.752L6.2399 168.56ZM2.3999 116V114.4H0.799902V116H2.3999ZM14.3999 116H15.9999V114.4H14.3999V116ZM14.3999 160H12.7999V161.6H14.3999V160ZM24.3999 160V161.6H25.9999V160H24.3999ZM27.8399 119.6L26.6959 118.481L26.6956 118.482L27.8399 119.6ZM94.4062 172H92.8062V173.6H94.4062V172ZM94.4062 160L93.564 158.64L92.8062 159.109V160H94.4062ZM101.926 149.28L100.405 148.784L100.405 148.784L101.926 149.28ZM104.406 116V114.4H102.806V116H104.406ZM154.406 116H156.006V114.4H154.406V116ZM154.406 172V173.6H156.006V172H154.406ZM142.406 160V161.6H144.006V160H142.406ZM142.406 128H144.006V126.4H142.406V128ZM116.406 128V126.4H114.806V128H116.406ZM115.686 143.2L114.103 142.966L114.101 142.979L114.1 142.992L115.686 143.2ZM113.606 151.44L112.136 150.81L112.129 150.825L112.123 150.84L113.606 151.44ZM111.366 156.24L110.001 155.406L109.984 155.434L109.967 155.463L111.366 156.24ZM108.886 160L107.59 159.062L105.752 161.6H108.886V160ZM221.484 122.88L220.385 124.043L220.391 124.049L221.484 122.88ZM221.404 164.96L222.51 166.116L222.51 166.116L221.404 164.96ZM172.204 164.96L171.091 166.11L171.098 166.116L171.104 166.122L172.204 164.96ZM172.124 122.88L171.031 121.711L171.025 121.717L172.124 122.88ZM180.684 131.84L179.552 130.709L179.552 130.709L180.684 131.84ZM180.684 156.16L181.815 155.029L181.815 155.029L180.684 156.16ZM213.004 156.16L211.872 155.029L211.872 155.029L213.004 156.16ZM212.924 131.84L211.792 132.971L211.798 132.977L211.804 132.983L212.924 131.84ZM288.475 160H290.075V158.4H288.475V160ZM288.475 172V173.6H290.075V172H288.475ZM244.235 164.96L243.122 166.11L243.129 166.116L243.135 166.122L244.235 164.96ZM244.235 123.12L243.129 121.964L243.122 121.97L244.235 123.12ZM288.475 116H290.075V114.4H288.475V116ZM288.475 128V129.6H290.075V128H288.475ZM252.715 131.84L251.584 130.709L251.584 130.709L252.715 131.84ZM252.715 156.16L253.846 155.029L253.846 155.029L252.715 156.16ZM294.484 128H292.884V129.6H294.484V128ZM294.484 116V114.4H292.884V116H294.484ZM330.484 116H332.084V114.4H330.484V116ZM330.484 128V129.6H332.084V128H330.484ZM318.484 128V126.4H316.884V128H318.484ZM318.484 172V173.6H320.084V172H318.484ZM306.484 172H304.884V173.6H306.484V172ZM306.484 128H308.084V126.4H306.484V128ZM390.884 119.44L389.841 120.653L389.841 120.653L390.884 119.44ZM394.884 172V173.6H396.484V172H394.884ZM382.884 172H381.284V173.6H382.884V172ZM382.884 128H384.484V126.4H382.884V128ZM372.884 128V126.4H371.284V128H372.884ZM368.884 168.64L369.913 169.865L369.92 169.859L369.928 169.853L368.884 168.64ZM342.724 168.56L341.657 169.752L341.657 169.752L342.724 168.56ZM338.884 116V114.4H337.284V116H338.884ZM350.884 116H352.484V114.4H350.884V116ZM350.884 160H349.284V161.6H350.884V160ZM360.884 160V161.6H362.484V160H360.884ZM364.324 119.6L363.18 118.481L363.18 118.482L364.324 119.6ZM419.322 128V126.4H417.722V128H419.322ZM419.322 172V173.6H420.922V172H419.322ZM407.322 172H405.722V173.6H407.322V172ZM407.322 116V114.4H405.722V116H407.322ZM431.322 116H432.922V114.4H431.322V116ZM431.322 128V129.6H432.922V128H431.322ZM474.977 119.36L473.832 120.478L473.839 120.485L473.845 120.491L474.977 119.36ZM481.137 130.4L482.638 129.846L482.637 129.843L481.137 130.4ZM496.497 172V173.6H498.793L497.998 171.446L496.497 172ZM483.697 172L482.197 172.556L482.584 173.6H483.697V172ZM480.017 162.08L481.517 161.524L481.13 160.48H480.017V162.08ZM452.177 162.08V160.48H451.064L450.677 161.524L452.177 162.08ZM448.497 172V173.6H449.61L449.997 172.557L448.497 172ZM435.697 172L434.196 171.446L433.4 173.6H435.697V172ZM451.057 130.4L449.557 129.843L449.556 129.846L451.057 130.4ZM467.457 128L468.958 127.445L468.571 126.4H467.457V128ZM464.817 128V126.4H463.706L463.318 127.441L464.817 128ZM456.577 150.08L455.078 149.521L454.272 151.68H456.577V150.08ZM475.617 150.08V151.68H477.914L477.118 149.525L475.617 150.08ZM555.259 119.44L554.216 120.653L554.216 120.653L555.259 119.44ZM559.259 172V173.6H560.859V172H559.259ZM547.259 172H545.659V173.6H547.259V172ZM547.259 128H548.859V126.4H547.259V128ZM537.259 128V126.4H535.659V128H537.259ZM533.259 168.64L534.288 169.865L534.295 169.859L534.303 169.853L533.259 168.64ZM507.099 168.56L506.032 169.752L506.032 169.752L507.099 168.56ZM503.259 116V114.4H501.659V116H503.259ZM515.259 116H516.859V114.4H515.259V116ZM515.259 160H513.659V161.6H515.259V160ZM525.259 160V161.6H526.859V160H525.259ZM528.699 119.6L527.555 118.481L527.555 118.482L528.699 119.6ZM526.299 97.6L527.891 97.4408L527.747 96H526.299V97.6ZM534.619 97.6V96H533.171L533.027 97.4408L534.619 97.6ZM550.459 97.6H552.059V96H550.459V97.6ZM546.459 107.04L545.597 105.692L545.597 105.692L546.459 107.04ZM514.459 107.04L515.322 105.692L515.322 105.692L514.459 107.04ZM510.459 97.6V96H508.859V97.6H510.459ZM582.897 150V151.6H584.497V150H582.897ZM570.897 150H569.297V151.6H570.897V150ZM570.897 116V114.4H569.297V116H570.897ZM582.897 116H584.497V114.4H582.897V116ZM582.897 172V173.6H584.497V172H582.897ZM570.897 172H569.297V173.6H570.897V172ZM570.897 160V158.4H569.297V160H570.897ZM582.897 160H584.497V158.4H582.897V160ZM39.9999 22.6H41.5999V19.4H39.9999V22.6ZM41.5999 22.6C47.3204 22.6 51.1198 23.7294 53.3566 25.6531L55.4432 23.2269C52.3467 20.5639 47.6128 19.4 41.5999 19.4V22.6ZM53.3566 25.6531C55.4822 27.4811 56.7999 31.0626 56.7999 37H59.9999C59.9999 30.7774 58.651 25.9856 55.4432 23.2269L53.3566 25.6531ZM56.7999 37V77H59.9999V37H56.7999ZM58.3999 75.4H46.3999V78.6H58.3999V75.4ZM47.9999 77V33H44.7999V77H47.9999ZM46.3999 31.4H36.3999V34.6H46.3999V31.4ZM34.7999 33V61H37.9999V33H34.7999ZM34.7999 61C34.7999 66.9961 33.4798 70.601 31.3566 72.4269L33.4432 74.8531C36.6533 72.0924 37.9999 67.2706 37.9999 61H34.7999ZM31.3708 72.4149C29.1224 74.3035 25.4379 75.4 19.9999 75.4V78.6C25.7619 78.6 30.3441 77.4564 33.429 74.8651L31.3708 72.4149ZM19.9999 75.4H18.3999V78.6H19.9999V75.4ZM18.3999 75.4C13.019 75.4 9.43971 74.2784 7.3075 72.3683L5.17231 74.7517C8.1601 77.4283 12.6875 78.6 18.3999 78.6V75.4ZM7.3075 72.3683C5.27093 70.5438 3.9999 66.9526 3.9999 61H0.799902C0.799902 67.2074 2.08887 71.9895 5.17231 74.7517L7.3075 72.3683ZM3.9999 61V21H0.799902V61H3.9999ZM2.3999 22.6H14.3999V19.4H2.3999V22.6ZM12.7999 21V65H15.9999V21H12.7999ZM14.3999 66.6H24.3999V63.4H14.3999V66.6ZM25.9999 65V37H22.7999V65H25.9999ZM25.9999 37C25.9999 31.1924 27.1432 27.6021 28.9842 25.7183L26.6956 23.4817C23.9499 26.2912 22.7999 30.9676 22.7999 37H25.9999ZM28.9839 25.7186C30.8746 23.7849 34.3817 22.6 39.9999 22.6V19.4C34.0981 19.4 29.4986 20.6151 26.6959 23.4814L28.9839 25.7186ZM68.0374 77V65H64.8374V77H68.0374ZM67.2796 66.3604C71.0577 64.0216 73.749 60.0764 75.4785 54.7763L72.4363 53.7837C70.8592 58.6169 68.5371 61.8184 65.5952 63.6396L67.2796 66.3604ZM75.4785 54.7763C77.2084 49.475 78.0374 42.1867 78.0374 33H74.8374C74.8374 42.0533 74.0131 48.9516 72.4363 53.7837L75.4785 54.7763ZM78.0374 33V21H74.8374V33H78.0374ZM76.4374 22.6H126.437V19.4H76.4374V22.6ZM124.837 21V77H128.037V21H124.837ZM126.437 75.4H66.4374V78.6H126.437V75.4ZM116.037 65V33H112.837V65H116.037ZM114.437 31.4H88.4374V34.6H114.437V31.4ZM86.8374 33V37H90.0374V33H86.8374ZM86.8374 37C86.8374 41.1557 86.6005 44.8084 86.1345 47.9665L89.3003 48.4335C89.7943 45.0849 90.0374 41.271 90.0374 37H86.8374ZM86.131 47.9919C85.7173 51.1466 85.053 53.7419 84.1668 55.8097L87.108 57.0703C88.1418 54.6581 88.8642 51.76 89.3038 48.4081L86.131 47.9919ZM84.1543 55.8397C83.252 58.0688 82.5459 59.5651 82.0321 60.4057L84.7627 62.0743C85.4223 60.9949 86.2095 59.2912 87.1205 57.0403L84.1543 55.8397ZM81.9987 60.463C81.5109 61.3411 80.727 62.5349 79.6215 64.0616L82.2133 65.9384C83.3478 64.3718 84.2172 63.0589 84.7961 62.017L81.9987 60.463ZM80.9174 66.6H114.437V63.4H80.9174V66.6ZM176.875 22.6H178.475V19.4H176.875V22.6ZM178.475 22.6C184.195 22.6 187.995 23.7294 190.232 25.6531L192.318 23.2269C189.222 20.5639 184.488 19.4 178.475 19.4V22.6ZM190.232 25.6531C192.357 27.4811 193.675 31.0626 193.675 37H196.875C196.875 30.7774 195.526 25.9856 192.318 23.2269L190.232 25.6531ZM193.675 37V77H196.875V37H193.675ZM195.275 75.4H183.275V78.6H195.275V75.4ZM184.875 77V33H181.675V77H184.875ZM183.275 31.4H173.275V34.6H183.275V31.4ZM171.675 33V61H174.875V33H171.675ZM171.675 61C171.675 66.9961 170.355 70.601 168.232 72.4269L170.318 74.8531C173.528 72.0924 174.875 67.2706 174.875 61H171.675ZM168.246 72.4149C165.997 74.3035 162.313 75.4 156.875 75.4V78.6C162.637 78.6 167.219 77.4564 170.304 74.8651L168.246 72.4149ZM156.875 75.4H155.275V78.6H156.875V75.4ZM155.275 75.4C149.894 75.4 146.315 74.2784 144.182 72.3683L142.047 74.7517C145.035 77.4283 149.562 78.6 155.275 78.6V75.4ZM144.182 72.3683C142.146 70.5438 140.875 66.9526 140.875 61H137.675C137.675 67.2074 138.964 71.9895 142.047 74.7517L144.182 72.3683ZM140.875 61V21H137.675V61H140.875ZM139.275 22.6H151.275V19.4H139.275V22.6ZM149.675 21V65H152.875V21H149.675ZM151.275 66.6H161.275V63.4H151.275V66.6ZM162.875 65V37H159.675V65H162.875ZM162.875 37C162.875 31.1924 164.018 27.6021 165.859 25.7183L163.571 23.4817C160.825 26.2912 159.675 30.9676 159.675 37H162.875ZM165.859 25.7186C167.75 23.7849 171.257 22.6 176.875 22.6V19.4C170.973 19.4 166.374 20.6151 163.571 23.4814L165.859 25.7186ZM276.481 75.4H235.681V78.6H276.481V75.4ZM237.281 77V21H234.081V77H237.281ZM235.681 22.6H278.081V19.4H235.681V22.6ZM278.081 22.6C283.373 22.6 286.535 23.782 288.152 25.6479L290.57 23.5521C288.027 20.6179 283.669 19.4 278.081 19.4V22.6ZM288.152 25.6479C289.841 27.5972 290.881 31.2077 290.881 36.92H294.081C294.081 31.0057 293.041 26.4028 290.57 23.5521L288.152 25.6479ZM290.881 36.92C290.881 43.1208 289.029 46.2888 286.033 47.5201L287.249 50.4799C292.04 48.5112 294.081 43.6259 294.081 36.92H290.881ZM286.011 50.4706C287.999 51.3225 289.163 52.4217 289.752 53.6791L292.65 52.3209C291.639 50.165 289.764 48.5975 287.271 47.5294L286.011 50.4706ZM289.77 53.7155C290.46 55.0953 290.881 57.2829 290.881 60.44H294.081C294.081 57.0904 293.649 54.318 292.632 52.2845L289.77 53.7155ZM290.881 60.44C290.881 66.0515 289.779 69.8088 287.896 72.0509L290.346 74.1091C292.943 71.0179 294.081 66.3485 294.081 60.44H290.881ZM287.894 72.0532C286.187 74.0937 282.614 75.4 276.481 75.4V78.6C282.828 78.6 287.682 77.2929 290.348 74.1068L287.894 72.0532ZM278.881 53.4H247.681V56.6H278.881V53.4ZM246.081 55V65H249.281V55H246.081ZM247.681 66.6H278.881V63.4H247.681V66.6ZM280.481 65V55H277.281V65H280.481ZM278.881 31.4H247.681V34.6H278.881V31.4ZM246.081 33V43H249.281V33H246.081ZM247.681 44.6H278.881V41.4H247.681V44.6ZM280.481 43V33H277.281V43H280.481ZM314.05 33V77H317.25V33H314.05ZM315.65 75.4H303.65V78.6H315.65V75.4ZM305.25 77V21H302.05V77H305.25ZM303.65 22.6H337.65V19.4H303.65V22.6ZM336.05 21V77H339.25V21H336.05ZM337.65 75.4H325.65V78.6H337.65V75.4ZM327.25 77V33H324.05V77H327.25ZM325.65 31.4H315.65V34.6H325.65V31.4ZM399.247 65V77H402.447V65H399.247ZM400.847 75.4H364.847V78.6H400.847V75.4ZM364.847 75.4C358.72 75.4 355.105 74.0963 353.342 72.0387L350.912 74.1213C353.628 77.2903 358.494 78.6 364.847 78.6V75.4ZM353.364 72.0655C351.524 69.8219 350.447 66.058 350.447 60.44H347.247C347.247 66.342 348.356 71.0048 350.89 74.0945L353.364 72.0655ZM350.447 60.44C350.447 57.2168 350.844 54.9892 351.496 53.5991L348.598 52.2409C347.65 54.2641 347.247 57.0499 347.247 60.44H350.447ZM351.496 53.5991C352.074 52.3646 353.241 51.2923 355.275 50.4879L354.099 47.5121C351.546 48.5211 349.619 50.062 348.598 52.2409L351.496 53.5991ZM355.312 47.5273C352.293 46.2452 350.447 43.0553 350.447 36.92H347.247C347.247 43.5847 349.294 48.4482 354.061 50.4727L355.312 47.5273ZM350.447 36.92C350.447 31.2077 351.486 27.5972 353.176 25.6479L350.758 23.5521C348.287 26.4028 347.247 31.0057 347.247 36.92H350.447ZM353.176 25.6479C354.793 23.782 357.955 22.6 363.247 22.6V19.4C357.659 19.4 353.301 20.6179 350.758 23.5521L353.176 25.6479ZM363.247 22.6H400.847V19.4H363.247V22.6ZM399.247 21V33H402.447V21H399.247ZM400.847 31.4H363.247V34.6H400.847V31.4ZM361.647 33V43H364.847V33H361.647ZM363.247 44.6H396.847V41.4H363.247V44.6ZM395.247 43V55H398.447V43H395.247ZM396.847 53.4H363.247V56.6H396.847V53.4ZM361.647 55V65H364.847V55H361.647ZM363.247 66.6H400.847V63.4H363.247V66.6ZM414.469 77V21H411.269V77H414.469ZM412.869 22.6H445.669V19.4H412.869V22.6ZM445.669 22.6C451.318 22.6 454.872 23.8553 456.821 25.9343L459.156 23.7457C456.305 20.7047 451.646 19.4 445.669 19.4V22.6ZM456.845 25.9591C458.862 28.0197 460.069 31.6869 460.069 37.4H463.269C463.269 31.3798 462.022 26.6736 459.132 23.7209L456.845 25.9591ZM460.069 37.4C460.069 43.5826 458.953 47.6207 457.074 49.9029L459.544 51.9371C462.144 48.7793 463.269 43.8041 463.269 37.4H460.069ZM457.062 49.9175C455.35 52.0471 451.786 53.4 445.669 53.4V56.6C452.031 56.6 456.894 55.2329 459.556 51.9225L457.062 49.9175ZM445.669 53.4H424.869V56.6H445.669V53.4ZM423.269 55V77H426.469V55H423.269ZM424.869 75.4H412.869V78.6H424.869V75.4ZM424.869 44.6H447.269V41.4H424.869V44.6ZM448.869 43V33H445.669V43H448.869ZM447.269 31.4H424.869V34.6H447.269V31.4ZM423.269 33V43H426.469V33H423.269ZM520.106 65V77H523.306V65H520.106ZM521.706 75.4H485.706V78.6H521.706V75.4ZM485.706 75.4C479.579 75.4 475.965 74.0963 474.201 72.0387L471.771 74.1213C474.488 77.2903 479.353 78.6 485.706 78.6V75.4ZM474.223 72.0655C472.384 69.8219 471.306 66.058 471.306 60.44H468.106C468.106 66.342 469.215 71.0048 471.749 74.0945L474.223 72.0655ZM471.306 60.44C471.306 57.2168 471.703 54.9892 472.355 53.5991L469.457 52.2409C468.509 54.2641 468.106 57.0499 468.106 60.44H471.306ZM472.355 53.5991C472.934 52.3646 474.1 51.2923 476.134 50.4879L474.958 47.5121C472.406 48.5211 470.479 50.062 469.457 52.2409L472.355 53.5991ZM476.172 47.5273C473.152 46.2452 471.306 43.0553 471.306 36.92H468.106C468.106 43.5847 470.153 48.4482 474.921 50.4727L476.172 47.5273ZM471.306 36.92C471.306 31.2077 472.346 27.5972 474.035 25.6479L471.617 23.5521C469.146 26.4028 468.106 31.0057 468.106 36.92H471.306ZM474.035 25.6479C475.652 23.782 478.814 22.6 484.106 22.6V19.4C478.518 19.4 474.16 20.6179 471.617 23.5521L474.035 25.6479ZM484.106 22.6H521.706V19.4H484.106V22.6ZM520.106 21V33H523.306V21H520.106ZM521.706 31.4H484.106V34.6H521.706V31.4ZM482.506 33V43H485.706V33H482.506ZM484.106 44.6H517.706V41.4H484.106V44.6ZM516.106 43V55H519.306V43H516.106ZM517.706 53.4H484.106V56.6H517.706V53.4ZM482.506 55V65H485.706V55H482.506ZM484.106 66.6H521.706V63.4H484.106V66.6ZM505.626 12.2V1.8H502.426V12.2H505.626ZM504.026 3.4H516.026V0.199995H504.026V3.4ZM514.426 1.8V12.2H517.626V1.8H514.426ZM516.026 10.6H504.026V13.8H516.026V10.6ZM483.226 12.2V1.8H480.026V12.2H483.226ZM481.626 3.4H493.626V0.199995H481.626V3.4ZM492.026 1.8V12.2H495.226V1.8H492.026ZM493.626 10.6H481.626V13.8H493.626V10.6ZM530.928 77V65H527.728V77H530.928ZM530.17 66.3604C533.948 64.0216 536.64 60.0764 538.369 54.7763L535.327 53.7837C533.75 58.6169 531.428 61.8184 528.486 63.6396L530.17 66.3604ZM538.369 54.7763C540.099 49.475 540.928 42.1867 540.928 33H537.728C537.728 42.0533 536.904 48.9516 535.327 53.7837L538.369 54.7763ZM540.928 33V21H537.728V33H540.928ZM539.328 22.6H589.328V19.4H539.328V22.6ZM587.728 21V77H590.928V21H587.728ZM589.328 75.4H529.328V78.6H589.328V75.4ZM578.928 65V33H575.728V65H578.928ZM577.328 31.4H551.328V34.6H577.328V31.4ZM549.728 33V37H552.928V33H549.728ZM549.728 37C549.728 41.1557 549.491 44.8084 549.025 47.9665L552.191 48.4335C552.685 45.0849 552.928 41.2709 552.928 37H549.728ZM549.022 47.9919C548.608 51.1466 547.944 53.7419 547.057 55.8097L549.999 57.0703C551.032 54.6581 551.755 51.76 552.194 48.4081L549.022 47.9919ZM547.045 55.8397C546.143 58.0688 545.436 59.5651 544.923 60.4057L547.653 62.0743C548.313 60.9949 549.1 59.2911 550.011 57.0403L547.045 55.8397ZM544.889 60.463C544.402 61.3411 543.618 62.5349 542.512 64.0616L545.104 65.9384C546.238 64.3718 547.108 63.0589 547.687 62.017L544.889 60.463ZM543.808 66.6H577.328V63.4H543.808V66.6ZM39.9999 117.6H41.5999V114.4H39.9999V117.6ZM41.5999 117.6C47.3204 117.6 51.1198 118.729 53.3566 120.653L55.4432 118.227C52.3467 115.564 47.6128 114.4 41.5999 114.4V117.6ZM53.3566 120.653C55.4822 122.481 56.7999 126.063 56.7999 132H59.9999C59.9999 125.777 58.651 120.986 55.4432 118.227L53.3566 120.653ZM56.7999 132V172H59.9999V132H56.7999ZM58.3999 170.4H46.3999V173.6H58.3999V170.4ZM47.9999 172V128H44.7999V172H47.9999ZM46.3999 126.4H36.3999V129.6H46.3999V126.4ZM34.7999 128V156H37.9999V128H34.7999ZM34.7999 156C34.7999 161.996 33.4798 165.601 31.3566 167.427L33.4432 169.853C36.6533 167.092 37.9999 162.271 37.9999 156H34.7999ZM31.3708 167.415C29.1224 169.304 25.4379 170.4 19.9999 170.4V173.6C25.7619 173.6 30.3441 172.456 33.429 169.865L31.3708 167.415ZM19.9999 170.4H18.3999V173.6H19.9999V170.4ZM18.3999 170.4C13.019 170.4 9.43971 169.278 7.3075 167.368L5.17231 169.752C8.1601 172.428 12.6875 173.6 18.3999 173.6V170.4ZM7.3075 167.368C5.27094 165.544 3.9999 161.953 3.9999 156H0.799902C0.799902 162.207 2.08887 166.989 5.17231 169.752L7.3075 167.368ZM3.9999 156V116H0.799902V156H3.9999ZM2.3999 117.6H14.3999V114.4H2.3999V117.6ZM12.7999 116V160H15.9999V116H12.7999ZM14.3999 161.6H24.3999V158.4H14.3999V161.6ZM25.9999 160V132H22.7999V160H25.9999ZM25.9999 132C25.9999 126.192 27.1432 122.602 28.9842 120.718L26.6956 118.482C23.9499 121.291 22.7999 125.968 22.7999 132H25.9999ZM28.9839 120.719C30.8746 118.785 34.3817 117.6 39.9999 117.6V114.4C34.0981 114.4 29.4986 115.615 26.6959 118.481L28.9839 120.719ZM96.0062 172V160H92.8062V172H96.0062ZM95.2483 161.36C99.0264 159.022 101.718 155.076 103.447 149.776L100.405 148.784C98.8279 153.617 96.5059 156.818 93.564 158.64L95.2483 161.36ZM103.447 149.776C105.177 144.475 106.006 137.187 106.006 128H102.806C102.806 137.053 101.982 143.952 100.405 148.784L103.447 149.776ZM106.006 128V116H102.806V128H106.006ZM104.406 117.6H154.406V114.4H104.406V117.6ZM152.806 116V172H156.006V116H152.806ZM154.406 170.4H94.4062V173.6H154.406V170.4ZM144.006 160V128H140.806V160H144.006ZM142.406 126.4H116.406V129.6H142.406V126.4ZM114.806 128V132H118.006V128H114.806ZM114.806 132C114.806 136.156 114.569 139.808 114.103 142.966L117.269 143.434C117.763 140.085 118.006 136.271 118.006 132H114.806ZM114.1 142.992C113.686 146.147 113.022 148.742 112.136 150.81L115.077 152.07C116.111 149.658 116.833 146.76 117.273 143.408L114.1 142.992ZM112.123 150.84C111.221 153.069 110.515 154.565 110.001 155.406L112.731 157.074C113.391 155.995 114.178 154.291 115.089 152.04L112.123 150.84ZM109.967 155.463C109.48 156.341 108.696 157.535 107.59 159.062L110.182 160.938C111.317 159.372 112.186 158.059 112.765 157.017L109.967 155.463ZM108.886 161.6H142.406V158.4H108.886V161.6ZM192.444 117.6H201.244V114.4H192.444V117.6ZM201.244 117.6C209.599 117.6 215.908 119.812 220.385 124.043L222.583 121.717C217.353 116.775 210.168 114.4 201.244 114.4V117.6ZM220.391 124.049C224.906 128.269 227.244 134.18 227.244 142H230.444C230.444 133.5 227.875 126.664 222.576 121.711L220.391 124.049ZM227.244 142V146H230.444V142H227.244ZM227.244 146C227.244 153.528 224.894 159.405 220.297 163.804L222.51 166.116C227.833 161.021 230.444 154.258 230.444 146H227.244ZM220.298 163.804C215.76 168.144 209.476 170.4 201.244 170.4V173.6C210.078 173.6 217.234 171.163 222.51 166.116L220.298 163.804ZM201.244 170.4H192.444V173.6H201.244V170.4ZM192.444 170.4C184.212 170.4 177.897 168.144 173.303 163.798L171.104 166.122C176.431 171.162 183.608 173.6 192.444 173.6V170.4ZM173.316 163.81C168.77 159.412 166.444 153.533 166.444 146H163.244C163.244 154.253 165.824 161.014 171.091 166.11L173.316 163.81ZM166.444 146V142H163.244V146H166.444ZM166.444 142C166.444 134.175 168.758 128.262 173.223 124.043L171.025 121.717C165.783 126.671 163.244 133.505 163.244 142H166.444ZM173.216 124.049C177.749 119.812 184.089 117.6 192.444 117.6V114.4C183.518 114.4 176.312 116.775 171.031 121.711L173.216 124.049ZM190.844 126.4C186.281 126.4 182.462 127.799 179.552 130.709L181.815 132.971C184.026 130.761 186.98 129.6 190.844 129.6V126.4ZM179.552 130.709C176.643 133.618 175.244 137.437 175.244 142H178.444C178.444 138.136 179.604 135.182 181.815 132.971L179.552 130.709ZM175.244 142V146H178.444V142H175.244ZM175.244 146C175.244 150.563 176.643 154.382 179.552 157.291L181.815 155.029C179.604 152.818 178.444 149.864 178.444 146H175.244ZM179.552 157.291C182.462 160.201 186.281 161.6 190.844 161.6V158.4C186.98 158.4 184.026 157.239 181.815 155.029L179.552 157.291ZM190.844 161.6H202.844V158.4H190.844V161.6ZM202.844 161.6C207.406 161.6 211.226 160.201 214.135 157.291L211.872 155.029C209.662 157.239 206.708 158.4 202.844 158.4V161.6ZM214.135 157.291C217.044 154.382 218.444 150.563 218.444 146H215.244C215.244 149.864 214.083 152.818 211.872 155.029L214.135 157.291ZM218.444 146V142H215.244V146H218.444ZM218.444 142C218.444 137.428 217.011 133.604 214.043 130.697L211.804 132.983C214.063 135.196 215.244 138.146 215.244 142H218.444ZM214.055 130.709C211.15 127.803 207.359 126.4 202.844 126.4V129.6C206.648 129.6 209.578 130.757 211.792 132.971L214.055 130.709ZM202.844 126.4H190.844V129.6H202.844V126.4ZM262.875 161.6H288.475V158.4H262.875V161.6ZM286.875 160V172H290.075V160H286.875ZM288.475 170.4H264.475V173.6H288.475V170.4ZM264.475 170.4C256.244 170.4 249.928 168.144 245.335 163.798L243.135 166.122C248.462 171.162 255.639 173.6 264.475 173.6V170.4ZM245.347 163.81C240.802 159.412 238.475 153.533 238.475 146H235.275C235.275 154.253 237.855 161.014 243.122 166.11L245.347 163.81ZM238.475 146V142H235.275V146H238.475ZM238.475 142C238.475 134.523 240.799 128.67 245.347 124.27L243.122 121.97C237.857 127.064 235.275 133.797 235.275 142H238.475ZM245.341 124.276C249.935 119.88 256.248 117.6 264.475 117.6V114.4C255.635 114.4 248.455 116.867 243.129 121.964L245.341 124.276ZM264.475 117.6H288.475V114.4H264.475V117.6ZM286.875 116V128H290.075V116H286.875ZM288.475 126.4H262.875V129.6H288.475V126.4ZM262.875 126.4C258.312 126.4 254.493 127.799 251.584 130.709L253.846 132.971C256.057 130.761 259.011 129.6 262.875 129.6V126.4ZM251.584 130.709C248.674 133.618 247.275 137.437 247.275 142H250.475C250.475 138.136 251.636 135.182 253.846 132.971L251.584 130.709ZM247.275 142V146H250.475V142H247.275ZM247.275 146C247.275 150.563 248.674 154.382 251.584 157.291L253.846 155.029C251.636 152.818 250.475 149.864 250.475 146H247.275ZM251.584 157.291C254.493 160.201 258.312 161.6 262.875 161.6V158.4C259.011 158.4 256.057 157.239 253.846 155.029L251.584 157.291ZM296.084 128V116H292.884V128H296.084ZM294.484 117.6H330.484V114.4H294.484V117.6ZM328.884 116V128H332.084V116H328.884ZM330.484 126.4H318.484V129.6H330.484V126.4ZM316.884 128V172H320.084V128H316.884ZM318.484 170.4H306.484V173.6H318.484V170.4ZM308.084 172V128H304.884V172H308.084ZM306.484 126.4H294.484V129.6H306.484V126.4ZM376.484 117.6H378.084V114.4H376.484V117.6ZM378.084 117.6C383.805 117.6 387.604 118.729 389.841 120.653L391.928 118.227C388.831 115.564 384.097 114.4 378.084 114.4V117.6ZM389.841 120.653C391.967 122.481 393.284 126.063 393.284 132H396.484C396.484 125.777 395.135 120.986 391.928 118.227L389.841 120.653ZM393.284 132V172H396.484V132H393.284ZM394.884 170.4H382.884V173.6H394.884V170.4ZM384.484 172V128H381.284V172H384.484ZM382.884 126.4H372.884V129.6H382.884V126.4ZM371.284 128V156H374.484V128H371.284ZM371.284 156C371.284 161.996 369.964 165.601 367.841 167.427L369.928 169.853C373.138 167.092 374.484 162.271 374.484 156H371.284ZM367.855 167.415C365.607 169.304 361.922 170.4 356.484 170.4V173.6C362.246 173.6 366.828 172.456 369.913 169.865L367.855 167.415ZM356.484 170.4H354.884V173.6H356.484V170.4ZM354.884 170.4C349.503 170.4 345.924 169.278 343.792 167.368L341.657 169.752C344.644 172.428 349.172 173.6 354.884 173.6V170.4ZM343.792 167.368C341.755 165.544 340.484 161.953 340.484 156H337.284C337.284 162.207 338.573 166.989 341.657 169.752L343.792 167.368ZM340.484 156V116H337.284V156H340.484ZM338.884 117.6H350.884V114.4H338.884V117.6ZM349.284 116V160H352.484V116H349.284ZM350.884 161.6H360.884V158.4H350.884V161.6ZM362.484 160V132H359.284V160H362.484ZM362.484 132C362.484 126.192 363.628 122.602 365.469 120.718L363.18 118.482C360.434 121.291 359.284 125.968 359.284 132H362.484ZM365.468 120.719C367.359 118.785 370.866 117.6 376.484 117.6V114.4C370.582 114.4 365.983 115.615 363.18 118.481L365.468 120.719ZM417.722 128V172H420.922V128H417.722ZM419.322 170.4H407.322V173.6H419.322V170.4ZM408.922 172V116H405.722V172H408.922ZM407.322 117.6H431.322V114.4H407.322V117.6ZM429.722 116V128H432.922V116H429.722ZM431.322 126.4H419.322V129.6H431.322V126.4ZM465.377 117.6H466.897V114.4H465.377V117.6ZM466.897 117.6C469.677 117.6 471.954 118.554 473.832 120.478L476.122 118.242C473.626 115.686 470.517 114.4 466.897 114.4V117.6ZM473.845 120.491C475.788 122.434 477.744 125.856 479.637 130.957L482.637 129.843C480.69 124.598 478.539 120.66 476.108 118.229L473.845 120.491ZM479.636 130.954L494.996 172.554L497.998 171.446L482.638 129.846L479.636 130.954ZM496.497 170.4H483.697V173.6H496.497V170.4ZM485.197 171.444L481.517 161.524L478.517 162.636L482.197 172.556L485.197 171.444ZM480.017 160.48H452.177V163.68H480.017V160.48ZM450.677 161.524L446.997 171.444L449.997 172.557L453.677 162.636L450.677 161.524ZM448.497 170.4H435.697V173.6H448.497V170.4ZM437.198 172.554L452.558 130.954L449.556 129.846L434.196 171.446L437.198 172.554ZM452.557 130.957C454.45 125.856 456.406 122.434 458.348 120.491L456.085 118.229C453.654 120.66 451.504 124.598 449.557 129.843L452.557 130.957ZM458.348 120.491C460.285 118.555 462.596 117.6 465.377 117.6V114.4C461.757 114.4 458.629 115.685 456.085 118.229L458.348 120.491ZM467.457 126.4H464.817V129.6H467.457V126.4ZM463.318 127.441L455.078 149.521L458.076 150.639L466.316 128.559L463.318 127.441ZM456.577 151.68H475.617V148.48H456.577V151.68ZM477.118 149.525L468.958 127.445L465.956 128.555L474.116 150.635L477.118 149.525ZM540.859 117.6H542.459V114.4H540.859V117.6ZM542.459 117.6C548.18 117.6 551.979 118.729 554.216 120.653L556.303 118.227C553.206 115.564 548.472 114.4 542.459 114.4V117.6ZM554.216 120.653C556.342 122.481 557.659 126.063 557.659 132H560.859C560.859 125.777 559.51 120.986 556.303 118.227L554.216 120.653ZM557.659 132V172H560.859V132H557.659ZM559.259 170.4H547.259V173.6H559.259V170.4ZM548.859 172V128H545.659V172H548.859ZM547.259 126.4H537.259V129.6H547.259V126.4ZM535.659 128V156H538.859V128H535.659ZM535.659 156C535.659 161.996 534.339 165.601 532.216 167.427L534.303 169.853C537.513 167.092 538.859 162.271 538.859 156H535.659ZM532.23 167.415C529.982 169.304 526.297 170.4 520.859 170.4V173.6C526.621 173.6 531.203 172.456 534.288 169.865L532.23 167.415ZM520.859 170.4H519.259V173.6H520.859V170.4ZM519.259 170.4C513.878 170.4 510.299 169.278 508.167 167.368L506.032 169.752C509.019 172.428 513.547 173.6 519.259 173.6V170.4ZM508.167 167.368C506.13 165.544 504.859 161.953 504.859 156H501.659C501.659 162.207 502.948 166.989 506.032 169.752L508.167 167.368ZM504.859 156V116H501.659V156H504.859ZM503.259 117.6H515.259V114.4H503.259V117.6ZM513.659 116V160H516.859V116H513.659ZM515.259 161.6H525.259V158.4H515.259V161.6ZM526.859 160V132H523.659V160H526.859ZM526.859 132C526.859 126.192 528.003 122.602 529.844 120.718L527.555 118.482C524.809 121.291 523.659 125.968 523.659 132H526.859ZM529.843 120.719C531.734 118.785 535.241 117.6 540.859 117.6V114.4C534.957 114.4 530.358 115.615 527.555 118.481L529.843 120.719ZM524.707 97.7592C524.806 98.7481 525.294 99.6084 526.171 100.157C526.961 100.65 527.921 100.8 528.859 100.8V97.6C528.198 97.6 527.931 97.483 527.867 97.4432C527.851 97.4331 527.871 97.4433 527.891 97.4768C527.91 97.5073 527.898 97.5076 527.891 97.4408L524.707 97.7592ZM528.859 100.8H532.059V97.6H528.859V100.8ZM532.059 100.8C532.998 100.8 533.958 100.65 534.747 100.157C535.625 99.6084 536.112 98.7481 536.211 97.7592L533.027 97.4408C533.021 97.5076 533.009 97.5073 533.027 97.4768C533.047 97.4433 533.067 97.4331 533.051 97.4432C532.988 97.483 532.721 97.6 532.059 97.6V100.8ZM534.619 99.2H550.459V96H534.619V99.2ZM548.859 97.6C548.859 101.906 547.618 104.399 545.597 105.692L547.322 108.388C550.634 106.268 552.059 102.467 552.059 97.6H548.859ZM545.597 105.692C543.318 107.151 539.559 108 534.059 108V111.2C539.76 111.2 544.267 110.343 547.322 108.388L545.597 105.692ZM534.059 108H526.859V111.2H534.059V108ZM526.859 108C521.36 108 517.6 107.151 515.322 105.692L513.597 108.388C516.652 110.343 521.158 111.2 526.859 111.2V108ZM515.322 105.692C513.3 104.399 512.059 101.906 512.059 97.6H508.859C508.859 102.467 510.285 106.268 513.597 108.388L515.322 105.692ZM510.459 99.2H526.299V96H510.459V99.2ZM582.897 148.4H570.897V151.6H582.897V148.4ZM572.497 150V116H569.297V150H572.497ZM570.897 117.6H582.897V114.4H570.897V117.6ZM581.297 116V150H584.497V116H581.297ZM582.897 170.4H570.897V173.6H582.897V170.4ZM572.497 172V160H569.297V172H572.497ZM570.897 161.6H582.897V158.4H570.897V161.6ZM581.297 160V172H584.497V160H581.297Z' fill='white' mask='url(#path-1-outside-1_406_796)')
              mask#mask0_406_796(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='2' y='1' width='588' height='171')
                path(d='M39.9999 21H41.5999C47.4666 21 51.7332 22.1467 54.3999 24.44C57.0666 26.7333 58.3999 30.92 58.3999 37V77H46.3999V33H36.3999V61C36.3999 67.1333 35.0666 71.3467 32.3999 73.64C29.7332 75.88 25.5999 77 19.9999 77H18.3999C12.8532 77 8.7999 75.8533 6.2399 73.56C3.6799 71.2667 2.3999 67.08 2.3999 61V21H14.3999V65H24.3999V37C24.3999 31.08 25.5466 26.9467 27.8399 24.6C30.1866 22.2 34.2399 21 39.9999 21ZM66.4374 77V65C69.7974 62.92 72.3041 59.3467 73.9574 54.28C75.6107 49.2133 76.4374 42.12 76.4374 33V21H126.437V77H66.4374ZM114.437 65V33H88.4374V37C88.4374 41.2133 88.1974 44.9467 87.7174 48.2C87.2907 51.4533 86.5974 54.2 85.6374 56.44C84.7307 58.68 83.9841 60.28 83.3974 61.24C82.8641 62.2 82.0374 63.4533 80.9174 65H114.437ZM176.875 21H178.475C184.342 21 188.608 22.1467 191.275 24.44C193.942 26.7333 195.275 30.92 195.275 37V77H183.275V33H173.275V61C173.275 67.1333 171.942 71.3467 169.275 73.64C166.608 75.88 162.475 77 156.875 77H155.275C149.728 77 145.675 75.8533 143.115 73.56C140.555 71.2667 139.275 67.08 139.275 61V21H151.275V65H161.275V37C161.275 31.08 162.422 26.9467 164.715 24.6C167.062 22.2 171.115 21 176.875 21ZM276.481 77H235.681V21H278.081C283.521 21 287.281 22.2 289.361 24.6C291.441 27 292.481 31.1067 292.481 36.92C292.481 43.3733 290.534 47.4 286.641 49C288.881 49.96 290.401 51.2933 291.201 53C292.054 54.7067 292.481 57.1867 292.481 60.44C292.481 66.2 291.361 70.4133 289.121 73.08C286.934 75.6933 282.721 77 276.481 77ZM278.881 55H247.681V65H278.881V55ZM278.881 33H247.681V43H278.881V33ZM315.65 33V77H303.65V21H337.65V77H325.65V33H315.65ZM400.847 65V77H364.847C358.607 77 354.367 75.6933 352.127 73.08C349.94 70.4133 348.847 66.2 348.847 60.44C348.847 57.1333 349.247 54.6267 350.047 52.92C350.847 51.2133 352.393 49.9067 354.687 49C350.793 47.3467 348.847 43.32 348.847 36.92C348.847 31.1067 349.887 27 351.967 24.6C354.047 22.2 357.807 21 363.247 21H400.847V33H363.247V43H396.847V55H363.247V65H400.847ZM412.869 77V21H445.669C451.482 21 455.589 22.28 457.989 24.84C460.442 27.3467 461.669 31.5333 461.669 37.4C461.669 43.6933 460.549 48.2 458.309 50.92C456.122 53.64 451.909 55 445.669 55H424.869V77H412.869ZM424.869 43H447.269V33H424.869V43ZM521.706 65V77H485.706C479.466 77 475.226 75.6933 472.986 73.08C470.799 70.4133 469.706 66.2 469.706 60.44C469.706 57.1333 470.106 54.6267 470.906 52.92C471.706 51.2133 473.253 49.9067 475.546 49C471.653 47.3467 469.706 43.32 469.706 36.92C469.706 31.1067 470.746 27 472.826 24.6C474.906 22.2 478.666 21 484.106 21H521.706V33H484.106V43H517.706V55H484.106V65H521.706ZM504.026 12.2V1.8H516.026V12.2H504.026ZM481.626 12.2V1.8H493.626V12.2H481.626ZM529.328 77V65C532.688 62.92 535.195 59.3467 536.848 54.28C538.501 49.2133 539.328 42.12 539.328 33V21H589.328V77H529.328ZM577.328 65V33H551.328V37C551.328 41.2133 551.088 44.9467 550.608 48.2C550.181 51.4533 549.488 54.2 548.528 56.44C547.621 58.68 546.875 60.28 546.288 61.24C545.755 62.2 544.928 63.4533 543.808 65H577.328ZM39.9999 116H41.5999C47.4666 116 51.7332 117.147 54.3999 119.44C57.0666 121.733 58.3999 125.92 58.3999 132V172H46.3999V128H36.3999V156C36.3999 162.133 35.0666 166.347 32.3999 168.64C29.7332 170.88 25.5999 172 19.9999 172H18.3999C12.8532 172 8.7999 170.853 6.2399 168.56C3.6799 166.267 2.3999 162.08 2.3999 156V116H14.3999V160H24.3999V132C24.3999 126.08 25.5466 121.947 27.8399 119.6C30.1866 117.2 34.2399 116 39.9999 116ZM94.4062 172V160C97.7662 157.92 100.273 154.347 101.926 149.28C103.579 144.213 104.406 137.12 104.406 128V116H154.406V172H94.4062ZM142.406 160V128H116.406V132C116.406 136.213 116.166 139.947 115.686 143.2C115.259 146.453 114.566 149.2 113.606 151.44C112.699 153.68 111.953 155.28 111.366 156.24C110.833 157.2 110.006 158.453 108.886 160H142.406ZM192.444 116H201.244C209.884 116 216.63 118.293 221.484 122.88C226.39 127.467 228.844 133.84 228.844 142V146C228.844 153.893 226.364 160.213 221.404 164.96C216.497 169.653 209.777 172 201.244 172H192.444C183.91 172 177.164 169.653 172.204 164.96C167.297 160.213 164.844 153.893 164.844 146V142C164.844 133.84 167.27 127.467 172.124 122.88C177.03 118.293 183.804 116 192.444 116ZM190.844 128C186.63 128 183.244 129.28 180.684 131.84C178.124 134.4 176.844 137.787 176.844 142V146C176.844 150.213 178.124 153.6 180.684 156.16C183.244 158.72 186.63 160 190.844 160H202.844C207.057 160 210.444 158.72 213.004 156.16C215.564 153.6 216.844 150.213 216.844 146V142C216.844 137.787 215.537 134.4 212.924 131.84C210.364 129.28 207.004 128 202.844 128H190.844ZM262.875 160H288.475V172H264.475C255.942 172 249.195 169.653 244.235 164.96C239.328 160.213 236.875 153.893 236.875 146V142C236.875 134.16 239.328 127.867 244.235 123.12C249.195 118.373 255.942 116 264.475 116H288.475V128H262.875C258.662 128 255.275 129.28 252.715 131.84C250.155 134.4 248.875 137.787 248.875 142V146C248.875 150.213 250.155 153.6 252.715 156.16C255.275 158.72 258.662 160 262.875 160ZM294.484 128V116H330.484V128H318.484V172H306.484V128H294.484ZM376.484 116H378.084C383.951 116 388.218 117.147 390.884 119.44C393.551 121.733 394.884 125.92 394.884 132V172H382.884V128H372.884V156C372.884 162.133 371.551 166.347 368.884 168.64C366.218 170.88 362.084 172 356.484 172H354.884C349.338 172 345.284 170.853 342.724 168.56C340.164 166.267 338.884 162.08 338.884 156V116H350.884V160H360.884V132C360.884 126.08 362.031 121.947 364.324 119.6C366.671 117.2 370.724 116 376.484 116ZM419.322 128V172H407.322V116H431.322V128H419.322ZM465.377 116H466.897C470.097 116 472.79 117.12 474.977 119.36C477.163 121.547 479.217 125.227 481.137 130.4L496.497 172H483.697L480.017 162.08H452.177L448.497 172H435.697L451.057 130.4C452.977 125.227 455.03 121.547 457.217 119.36C459.457 117.12 462.177 116 465.377 116ZM467.457 128H464.817L456.577 150.08H475.617L467.457 128ZM540.859 116H542.459C548.326 116 552.593 117.147 555.259 119.44C557.926 121.733 559.259 125.92 559.259 132V172H547.259V128H537.259V156C537.259 162.133 535.926 166.347 533.259 168.64C530.593 170.88 526.459 172 520.859 172H519.259C513.713 172 509.659 170.853 507.099 168.56C504.539 166.267 503.259 162.08 503.259 156V116H515.259V160H525.259V132C525.259 126.08 526.406 121.947 528.699 119.6C531.046 117.2 535.099 116 540.859 116ZM526.299 97.6C526.406 98.6667 527.259 99.2 528.859 99.2H532.059C533.659 99.2 534.513 98.6667 534.619 97.6H550.459C550.459 102.187 549.126 105.333 546.459 107.04C543.793 108.747 539.659 109.6 534.059 109.6H526.859C521.259 109.6 517.126 108.747 514.459 107.04C511.793 105.333 510.459 102.187 510.459 97.6H526.299ZM582.897 150H570.897V116H582.897V150ZM582.897 172H570.897V160H582.897V172Z' fill='white')
              g(mask='url(#mask0_406_796)').mask
                circle(cx='547.5' cy='180.5' r='55.5' fill='white')

          h2.hero-subtitle ОТВЕТСТВЕННОСТЬ. КАЧЕСТВО. ПРОФЕССИОНАЛИЗМ.
          p.hero-text Эти три принципа помогают людям ГК «СНС» по всей стране идти только вперед и добиваться больших побед. И каждый, кто хочет присоединиться к нашей команде, должен не только понимать, но и принять эти принципы.
        .hero-about
          a(href="#").arrow-link
            span О компании
            i.icon-arrow-rotate
        .hero-bottom__slider
          .swiper.hero-slider
            .swiper-wrapper
              .swiper-slide
                .hero-slider__text

                  .hero-slider__date 26.05.2021
                  a(href="#").hero-slider__title Новый подход E-ON Energy Drink к контенту Instagram
                .hero-slider__thumb
                  img(src="img/hero-slider/hero-slider-thumb.png", alt="")
              .swiper-slide
                .hero-slider__text
                  .hero-slider__date 26.05.2021
                  a(href="#").hero-slider__title Новый подход E-ON Energy Drink к контенту Instagram
                .hero-slider__thumb
                  img(src="https://i.ytimg.com/vi/EpJg-PP9-Bc/maxresdefault.jpg", alt="")
              .swiper-slide
                .hero-slider__text
                  .hero-slider__date 26.05.2021
                  a(href="#").hero-slider__title Новый подход E-ON Energy Drink к контенту Instagram
                .hero-slider__thumb
                  img(src="img/hero-slider/hero-slider-thumb.png", alt="")
              .swiper-slide
                .hero-slider__text
                  .hero-slider__date 26.05.2021
                  a(href="#").hero-slider__title Новый подход E-ON Energy Drink к контенту Instagram
                .hero-slider__thumb
                  img(src="https://i.ytimg.com/vi/EpJg-PP9-Bc/maxresdefault.jpg", alt="")
            .hero-slider__arrows
              .hero-slider__button-prev
                i.icon-arrow-l
              .hero-slider__button-next
                i.icon-arrow-r
            .swiper-pagination.hero-slider-pagination
  section.about
    .container.container-inner
      h3.section-title.title-family.text-uppercase О компании

      .row
        .about-column__left
          .about-video
            .video
              a.video__link(href='https://youtu.be/EpJg-PP9-Bc')
                picture
                  source(srcset='https://i.ytimg.com/vi_webp/EpJg-PP9-Bc/maxresdefault.webp' type='image/webp')
                  img.video__media(src='https://i.ytimg.com/vi/EpJg-PP9-Bc/maxresdefault.jpg' alt='1. Пилот, разборы, ответы и лайвы')
              button.video__button(aria-label='Запустить видео')
                svg(width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M16.25 7.83494C17.9167 8.79719 17.9167 11.2028 16.25 12.1651L4.25 19.0933C2.58333 20.0555 0.500001 18.8527 0.500001 16.9282L0.500002 3.0718C0.500002 1.1473 2.58334 -0.0555175 4.25 0.906733L16.25 7.83494Z' fill='white' stroke='white')
                span.title-family смотреть видео

        .about-column__right
          .about-info
            .about-info__name.title-family
              | Олег Смирнов
              span.aeroport-family.d-block Председатель Совета директоров ГК «СНС»
            a(href="mailto:o.smirnov@sns.ru?subject=Вопрос Олегу Смирнову").btn.btn-green написать письмо
            .about-info__bottom
              span.d-md-block.title-family.about-info__count 164,5
              span.d-md-block.title-family.about-info__currency млрд. руб.
              span.d-block.aeroport-family.about-info__year.mt-2.mt-lg-0 выручка по итогам 2020 года

      .about-categories
        .about-category
          .about-categories__item(style="background-image: url('./img/about/category.png')")
            i.icon-arrow-rotate-slim
            a(href="#").about-categories__link
              span.about-categories__title-first.d-block Менеджмент
              span.about-categories__info.d-block
                span.about-categories__title-second.d-block Менеджмент
                span.about-categories__inner.d-block
                  span.about-categories__text.d-block Структура управления
                  span.about-categories__text.d-block У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
          .about-categories__text-mob У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
        .about-category
          .about-categories__item(style="background-image: url('./img/about/category.png')")
            i.icon-arrow-rotate-slim
            a(href="#").about-categories__link
              span.about-categories__title-first.d-block География
              span.about-categories__info.d-block
                span.about-categories__title-second.d-block География
                span.about-categories__inner.d-block
                  span.about-categories__text.d-block Структура управления
                  span.about-categories__text.d-block У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
          .about-categories__text-mob  У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
        .about-category
          .about-categories__item(style="background-image: url('./img/about/category.png')")
            i.icon-arrow-rotate-slim
            a(href="#").about-categories__link
              span.about-categories__title-first.d-block История
              span.about-categories__info.d-block
                span.about-categories__title-second.d-block История
                span.about-categories__inner.d-block
                  span.about-categories__text.d-block Структура управления
                  span.about-categories__text.d-block У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
          .about-categories__text-mob  У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
        .about-category
          .about-categories__item(style="background-image: url('./img/about/category.png')")
            i.icon-arrow-rotate-slim
            a(href="#").about-categories__link
              span.about-categories__title-first.d-block Награды и рейтинги
              span.about-categories__info.d-block
                span.about-categories__title-second.d-block Награды и рейтинги
                span.about-categories__inner.d-block
                  span.about-categories__text.d-block Структура управления
                  span.about-categories__text.d-block У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
          .about-categories__text-mob  У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
        .about-category
          .about-categories__item(style="background-image: url('./img/about/category.png')")
            i.icon-arrow-rotate-slim
            a(href="#").about-categories__link
              span.about-categories__title-first.d-block Спонсорство
              span.about-categories__info.d-block
                span.about-categories__title-second.d-block Спонсорство
                span.about-categories__inner.d-block
                  span.about-categories__text.d-block Структура управления
                  span.about-categories__text.d-block У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
          .about-categories__text-mob  У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
        .about-category
          .about-categories__item(style="background-image: url('./img/about/category.png')")
            i.icon-arrow-rotate-slim
            a(href="#").about-categories__link
              span.about-categories__title-first.d-block Новости
              span.about-categories__info.d-block
                span.about-categories__title-second.d-block Новости
                span.about-categories__inner.d-block
                  span.about-categories__text.d-block Структура управления
                  span.about-categories__text.d-block У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе
          .about-categories__text-mob  У руля компании – высококлассные управленцы с многолетним успешным опытом в бизнесе


  section.directions
    .container.container-inner
      .directions-header
        h3.section-title.title-family.text-uppercase Направления бизнеса
        a(href="#").arrow-link.d-none.d-md-flex
          span Все направления
          i.icon-arrow-rotate
      .row.directions-row

        .col-lg-6.col-12.order-2.order-lg-1
          #myTabContent.tab-content.directions-slider
            #nav-one.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-one-tab')
              .directions-slider__img
                img(src="img/directions/1.jpg", alt="")
              .directions-counter
                span 01
                span 06
              .directions-accordion__text.d-lg-none Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
            #nav-two.tab-pane.fade(role='tabpanel' aria-labelledby='nav-two-tab')
              .directions-slider__img
                img(src="img/directions/2.jpg", alt="")
              .directions-counter
                span 02
                span 06
              .directions-accordion__text.d-lg-none Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
            #nav-three.tab-pane.fade(role='tabpanel' aria-labelledby='nav-three-tab')
              .directions-slider__img
                img(src="img/directions/3.jpg", alt="")
              .directions-counter
                span 03
                span 06
              .directions-accordion__text.d-lg-none Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
            #nav-four.tab-pane.fade(role='tabpanel' aria-labelledby='nav-four-tab')
              .directions-slider__img
                img(src="img/directions/4.jpg", alt="")
              .directions-counter
                span 04
                span 06
              .directions-accordion__text.d-lg-none Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
            #nav-five.tab-pane.fade(role='tabpanel' aria-labelledby='nav-five-tab')
              .directions-slider__img
                img(src="img/directions/5.jpg", alt="")
              .directions-counter
                span 05
                span 06
              .directions-accordion__text.d-lg-none Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
            #nav-six.tab-pane.fade(role='tabpanel' aria-labelledby='nav-five-tab')
              .directions-slider__img
                img(src="img/directions/6.jpg", alt="")
              .directions-counter
                span 06
                span 06
              .directions-accordion__text.d-lg-none Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
        .col-lg-6.col-12.order-1.order-lg-2
          ul(role='tablist')#accordionDirections.accordion.nav.nav-tabs
            li.nav-item(role='presentation')
              a#nav-one-tab.accordion-item.nav-link.active(data-toggle='tab' href='#nav-one' role='tab' aria-controls='nav-one-tab' aria-selected='true')
                #headingOne.directions-accordion__header(data-item="0")
                  button.btn.btn-link.btn-block.text-left(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                    img(src="img/directions/brand1.png", alt="BAT Russia")
                #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionDirections')
                  .directions-accordion__body
                    .directions-accordion__text Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
                    .directions-accrodion__arrow
                      i.icon-arrow-rotate-slim

            li.nav-item(role='presentation')

              a#nav-two-tab.nav-link.accordion-item(data-toggle='tab' href='#nav-two' role='tab' aria-controls='nav-two-tab' aria-selected='false')
                #headingTwo.directions-accordion__header(data-item="1")
                  button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                    img(src="img/directions/brand2.png", alt="Global Functions Drink")
                #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionDirections')
                  .directions-accordion__body
                    .directions-accordion__text Известные международные и российские марки табачной продукции высочайшего качества  и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
                    .directions-accrodion__arrow
                      i.icon-arrow-rotate-slim
            li.nav-item(role='presentation')
              a#nav-three-tab.nav-link.accordion-item(data-toggle='tab' href='#nav-three' role='tab' aria-controls='nav-three-tab' aria-selected='false')
                #headingThree.directions-accordion__header(data-item="2")
                  button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                    img(src="img/directions/brand3.png", alt="BAT Russia")
                #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionDirections')
                  .directions-accordion__body
                    .directions-accordion__text Известные международные и российские марки табачной продукции высочайшего качества и инновационные продукты (gloTM) от одного из крупнейших мировых производителей табачных изделий.
                    .directions-accrodion__arrow
                      i.icon-arrow-rotate-slim
            li.nav-item(role='presentation')
              a#nav-four-tab.nav-link.accordion-item(data-toggle='tab' href='#nav-four' role='tab' aria-controls='nav-four-tab' aria-selected='false')
                #headingThree.directions-accordion__header(data-item="3")
                  button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                    img(src="img/directions/brand4.png", alt="BAT Russia")
                #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionDirections')
                  .directions-accordion__body
                    .directions-accordion__text Премиальные сигариллы, созданные в США, в штате Северная Каролина – регионе, где действительно знают все о традициях табаковедения.
                    .directions-accrodion__arrow
                      i.icon-arrow-rotate-slim
            li.nav-item(role='presentation')
              a#nav-five-tab.nav-link.accordion-item(data-toggle='tab' href='#nav-five' role='tab' aria-controls='nav-five-tab' aria-selected='false')
                #headingFive.directions-accordion__header(data-item="4")
                  button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
                    img(src="img/directions/brand5.png", alt="BAT Russia")
                #collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordionDirections')
                  .directions-accordion__body
                    .directions-accordion__text Организация и управление цепочками поставок для ГК «СНС». Профессиональная поддержка и комплексные решения для сторонних организаций по доставке грузов.
                    .directions-accrodion__arrow
                      i.icon-arrow-rotate-slim
            li.nav-item(role='presentation')
              a#nav-six-tab.nav-link.accordion-item(data-toggle='tab' href='#nav-six' role='tab' aria-controls='nav-six-tab' aria-selected='false')
                #headingSix.directions-accordion__header(data-item="5")
                  button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
                    img(src="img/directions/brand6.png", alt="BAT Russia")
                #collapseSix.collapse(aria-labelledby='headingFive' data-parent='#accordionDirections')
                  .directions-accordion__body
                    .directions-accordion__text Организация и управление цепочками поставок для ГК «СНС». Профессиональная поддержка и комплексные решения для сторонних организаций по доставке грузов.
                    .directions-accrodion__arrow
                      i.icon-arrow-rotate-slim
      a(href="#").arrow-link.d-flex.d-md-none
        span Все направления
        i.icon-arrow-rotate
  .container-fluid.numbers-container
    section.numbers-section
      .numbers(style="background-image: url('./img/numbers.jpg')")
        .container.container-inner
          h3.title-family.numbers-title
            | МЫ —
            br
            | ПРОФЕССИОНАЛЬНАЯ КОМАНДА, УВЕРЕННО ПОКОРЯЮЩАЯ ВЕРШИНЫ УСПЕХА
          .numbers-row.numbers-row__desktop
            .numbers-column
              .numbers-count.title-family
                span.counter(data-to="30" data-stop="0") 0
                span +
              p.numbers-text
                | лет на российском
                br
                | FMCG-рынке
            .numbers-column
              .numbers-count.title-family
                span.counter(data-to="100" data-stop="0") 0
                span +
              p.numbers-text
                | филиалов от Калининграда
                br
                |  до Сахалина
            .numbers-column
              .numbers-count.title-family
                span.counter(data-to="62" data-stop="0") 0
              p.numbers-text
                | место в рейтинге
                br
                |  Forbes 2021
            .numbers-column
              .numbers-count.title-family
                span.counter(data-to="4800" data-stop="0") 0
              p.numbers-text
                | Cотрудников
                br
                | по всей России

      .container.container-inner
        .numbers-row.numbers-row__mobile
          .numbers-column
            .numbers-count.title-family
              span.counter(data-to="30" data-stop="0") 0
              span +
            p.numbers-text
              | лет на российском
              br
              | FMCG-рынке
          .numbers-column
            .numbers-count.title-family
              span.counter(data-to="100" data-stop="0") 0
              span +
            p.numbers-text
              | филиалов от Калининграда
              br
              |  до Сахалина
          .numbers-column
            .numbers-count.title-family
              span.counter(data-to="62" data-stop="0") 0
            p.numbers-text
              | место в рейтинге
              br
              |  Forbes 2021
          .numbers-column
            .numbers-count.title-family
              span.counter(data-to="4800" data-stop="0") 0
            p.numbers-text
              | Cотрудников
              br
              | по всей России




  section.advantages
    .container.container-inner
      .advantages-row
        .advantages-item
          .advantages-inner
            h3.title-family.advantages-title Преимущества работы в компании
          .advantages-text
            ol.advantages-list
              li.advantages-list__item 30-летний опыт достижений = стабильность и уверенное развитие;
              li.advantages-list__item Амбициозные цели, интересные задачи и масштабные проекты;
              li.advantages-list__item Инструменты для достижения целей, лучшие условия труда и прозрачная система мотивации;
              li.advantages-list__item Мощная корпоративная культура.
            a(href="#").arrow-link
              span Подробнее
              i.icon-arrow-rotate
          .advantages-img.advantages-img__right
            .advantages-img__inner
              img(src="img/advantages/1.jpg", alt="")
        .advantages-item.advantages-item__left
          .advantages-img.advantages-img__left
            .advantages-img__inner
              img(src="img/advantages/2.jpg", alt="")
          .advantages-inner
            h3.title-family.advantages-title Вакансии
          .advantages-text
            p.advantages-text Работа в ГК «СНС»  – твоя  история успеха
            a(href="#").arrow-link
              span Подробнее
              i.icon-arrow-rotate
        .advantages-item
          .advantages-inner
            h3.title-family.advantages-title Корпоративная культура
          .advantages-text
            p.advantages-text.mw-475 Мы - единая команда с общими целями, ценностями и мощной корпоративной культурой
            a(href="#").arrow-link
              span Подробнее
              i.icon-arrow-rotate
          .advantages-img.advantages-img__right
            .advantages-img__inner
              img(src="img/advantages/3.jpg", alt="")
  section.shop
    .container.container-inner
      h3.section-title.title-family.text-uppercase Интернет магазин
      .shop-row
        .shop-column
          a(href="#").shop-card
            .shop-card__text
              p.mb-0
                | Устройства нагревания
                br
                | табака GLO
            .shop-card__img
              img(src="img/shop/glo.png", alt="Glo")
        .shop-column
          a(href="#").shop-card
            .shop-card__text
              p.mb-0
                | Безалкогольные
                br
                | тонизирующие
                br
                | напитки
            .shop-card__img
              img(src="img/shop/drinks.png", alt="Безалкогольные тонизирующие напитки")
        .shop-column
          a(href="#").shop-card
            .shop-card__text
              p.mb-0
                | Безалкогольныe
                br
                | газированные
                br
                | напитки
            .shop-card__img
              img(src="img/shop/drinks2.png", alt="Безалкогольные газированные напитки")
        .shop-column
          a(href="#").shop-card
            .shop-card__text
              p.mb-0
                | Зажигалки
                br
                | и аксессуары
            .shop-card__img
              img(src="img/shop/light.png", alt="Зажигалки и аксессуары")
      .shop-all
        a(href="#").btn.btn-green.btn-green-color.mx-auto Все товары




