// Footer
footer.footer
	.container-fluid
		.footer-top
			.footer-column.d-md-none.d-block
				a(href="#").d-block.btn.btn-green-solid Хочу в команду
			.footer-column.d-none.d-md-block
				a(href="#").footer-logo
					img(src="img/logo-white.svg", alt="SNS Group of Companies")
				.footer-address
					span.d-block.footer-title__sm Адрес:
					a(href="#").footer-address__link Россия, 123112, г. Москва, Пресненская набережная, д. 6, стр. 2, 33 этаж
			.footer-column.d-none.d-md-block
				.footer-title О компании
				nav.footer-nav
					a(href="#").footer-nav__link Менеджмент
					a(href="#").footer-nav__link Георграфия
					a(href="#").footer-nav__link История
					a(href="#").footer-nav__link Награды и спонсорство
					a(href="#").footer-nav__link Новости
			.footer-column.d-none.d-md-block
				.footer-title Направления бизнеса
				nav.footer-nav
					a(href="#").footer-nav__link Табачные и никотиносодержашие продукты BAT
					a(href="#").footer-nav__link Энергетические и газированные напитки
					a(href="#").footer-nav__link Сигариллы Marco Polo
					a(href="#").footer-nav__link Зажигалки Delta, Just, Foxlite
					a(href="#").footer-nav__link Золотодобыча SN GOLD mining
					a(href="#").footer-nav__link Логистическая компания BLC
			.footer-column.d-none.d-md-block
				.footer-title Команда и карьера
				nav.footer-nav
					a(href="#").footer-nav__link Преимущества работы в компании
					a(href="#").footer-nav__link Вакансии
					a(href="#").footer-nav__link Медиатека
			.footer-column.d-none.d-md-block
				.footer-title Интернет магазин
				nav.footer-nav
					a(href="#").footer-nav__link Устройства нагревания табака GLO
					a(href="#").footer-nav__link Безалкогольные тонизирующие напитки
					a(href="#").footer-nav__link Безалкогольные газированные напитки
					a(href="#").footer-nav__link Зажигалки и аксессуары
			.footer-column
				.footer-title Обратная связь
				.footer-phone
					a(href="tel:+74956440700").footer-phone__link.title-family +7 495 644 07 00
				.footer-socials
					a(href="#").footer-socials__link
						i.icon-facebook
					a(href="#").footer-socials__link
						i.icon-vk
					a(href="#").footer-socials__link
						i.icon-instagram
			.footer-column.d-md-none.d-block
				form.footer-form(action="")
					.form-wrapper
						input(type="text" placeholder="example@example.ru").form-control
						button.btn.btn-form.text-lowercase.text-lg-uppercase  Подписаться
		.footer-bottom
			.footer-bottom__left
				.footer-column
					span.d-block.footer-title__sm Сотрудничество
					a(href="mailto:partner@sns.ru").footer-bottom__link.d-block partner@sns.ru
				.footer-column
					span.d-block.footer-title__sm Поставщикам
					a(href="mailto:offer@sns.ru").footer-bottom__link.d-block offer@sns.ru
				.footer-column
					span.d-block.footer-title__sm Отзывы
					a(href="mailto:feedback@sns.ru").footer-bottom__link.d-block feedback@sns.ru
				.footer-column
					span.d-block.footer-title__sm Пресс-служба
					a(href="mailto:pr@sns.ru").footer-bottom__link.d-block pr@sns.ru
			.footer-bottom__right
				a(href="#").btn.btn-green Хочу в команду
				form.footer-form(action="")
					.form-wrapper
						input(type="text" placeholder="Подписаться на рассылку").form-control
						button.btn.btn-form.text-uppercase Отправить
	.footer-copyright
		.container-fluid
			.footer-copyright__inner
				span.footer-copyright__text © 2013 - 2021 Интернет-магазин Группы Компаний «СНС»
				nav.footer-copyright__nav
					a(href="#").footer-copyright__link Политика конфиденциальности
					a(href="#").footer-copyright__link Пользовательское соглашение
					a(href="#").footer-copyright__link Декларация о соответствии на продукцию
				a(href="#").footer-copyright__creative
					span создание сайтов —
					img(src="img/creative.svg", alt="Creative team")





