nav.main-nav
	.main-nav__link-wrapper.has-child(data-active)
		a(href="#" data-target-button).main-nav__link.text-grey
			.nav-icon
				span
				span
				span
			span О компании
		ul.main-nav__link-dropdown
			li.main-nav__link-dropdown-item
				a(href="#") Менеджмент
			li.main-nav__link-dropdown-item
				a(href="#") География
			li.main-nav__link-dropdown-item
				a(href="#") История
			li.main-nav__link-dropdown-item
				a(href="#") Награды и рейтинги
			li.main-nav__link-dropdown-item
				a(href="#") Спонсорство
			li.main-nav__link-dropdown-item
				a(href="news.html") Новости
	.main-nav__link-wrapper.has-child(data-active)
		a(href="#" data-target-button).main-nav__link.text-grey
			.nav-icon
				span
				span
				span
			span Направления бизнеса
		ul.main-nav__link-dropdown
			li.main-nav__link-dropdown-item
				a(href="#") Табачные и никотиносодержашие продукты BAT
			li.main-nav__link-dropdown-item
				a(href="#") Энергетические и газированные напитки
			li.main-nav__link-dropdown-item
				a(href="#") Сигариллы Marco Polo
			li.main-nav__link-dropdown-item
				a(href="#") Зажигалки Delta, Just, Foxlite
			li.main-nav__link-dropdown-item
				a(href="#") Золотодобыча SN GOLD mining
			li.main-nav__link-dropdown-item
				a(href="#") Логистическая компания BLC
	.main-nav__link-wrapper.has-child(data-active)
		a(href="#" data-target-button).main-nav__link.text-grey
			.nav-icon
				span
				span
				span
			span Команда и карьера
		ul.main-nav__link-dropdown
			li.main-nav__link-dropdown-item
				a(href="#") Преимущества работы в компании
			li.main-nav__link-dropdown-item
				a(href="#") Истории успеха
			li.main-nav__link-dropdown-item
				a(href="#") Вакансии
			li.main-nav__link-dropdown-item
				a(href="#") Медиатека
	.main-nav__link-wrapper.has-child(data-active)
		a(href="#" data-target-button).main-nav__link.text-grey
			.nav-icon
				span
				span
				span
			span Интернет-магазин
		ul.main-nav__link-dropdown
			li.main-nav__link-dropdown-item
				a(href="#") Устройства нагревания табака GLO
			li.main-nav__link-dropdown-item
				a(href="#") Безалкогольные тонизирующие напитки
			li.main-nav__link-dropdown-item
				a(href="#") Безалкогольные газированные напитки
			li.main-nav__link-dropdown-item
				a(href="#") Зажигалки и аксессуары