.pagination
	a(href="#").pagination-prev
		i.icon-arrow-l
	.pagination-counter
		a(href="#").pagination-page 1
		a(href="#").pagination-page 2
		a(href="#").pagination-page 3
		.pagination-split ...
		a(href="#").pagination-page 7
	a(href="#").pagination-next
		i.icon-arrow-r